.UserHero {
    min-height: 20vh;
}

.UserHero>.columns>.UserHero-content {

}

.UserHero>.hero-body>.container>.columns>.column>.media {
    align-items:center;
}

.UserHero>.hero-body>.container>.columns>.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.UserHero-Avatar {
    padding-right: 30px;
}

.UserHero-Avatar>img {
    max-width: 20vh;
    max-height: 20vh;
    border: 5px solid white;
    border-radius: 50%;
}

.UserHero-Stats>.level>.level-item {
    flex-direction: column;
}