
.Editor {
    margin-bottom: 10px;
    min-height: 80px;
    background-color: white;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    border-radius: 5px;
    border: 0px solid whitesmoke;
    display: flex;
    flex-direction: row;
    max-height: 80px;
    align-items: stretch;
    justify-content: center;
}

.Editor-container .dropzone {
    width: 100%;
    padding: 30px;
    text-align: center;
    border: 3px grey dashed;
    border-radius: 5px;
}

.Editor-container img {
    max-width: 400px;
}


.Editor-container .dropzone > .subtitle {
    margin: 0px;
}

.Editor input {
    background-color: transparent;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 20px;
    box-shadow: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}

.Editor > .input-div {
    flex: 2;
}

.Editor > .icon {
    cursor: pointer;
    height: 80px;
    flex: 1;
    max-width: 80px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Editor > .icon.done {
    background-color: #27ae60;
}

.Editor > .icon.todo {
    background-color: #f39c12;
}

.Editor > .icon.in_progress {
    background-color: #f39c12;
}

.Editor > .icon.in_progress svg {
    animation: fadeIn 1s infinite alternate;
}

.Editor-container button {
    margin-bottom: 4px;
    background-color: #27ae60 !important;
    color: white !important;
    border: 1px solid #27ae60 !important;
}

.Editor-container button:hover {
    margin-bottom: 4px;
    background-color: #27ae60;
    color: white;
    border: 1px solid #27ae60 !important;
}

.Editor-container {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .Modal {
        border-radius: 0px;
    }
    .Editor {
        border-radius: 0px;
        min-height: 50px;
        max-height: 50px;
    }

    .Editor-container .icon {
        height: 50px;
        max-width: 40px;
        font-size: 10px;
        border-radius: 0px;

        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .Editor input {
        font-size: 18px;
    }
}