.ProfileModalAction {
    cursor: pointer;
    color: inherit;
}

.ProfileModalAction>img {
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.ProfileModalAction>figcaption {
    font-weight: bold;
}

.ProfileModalAction.lazy {
}