.navbar-dark {
    background-color: #0a0a0a !important;
    height: 60px;
    z-index: 1;
}
.navbar-dark .navbar-brand h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #47e0a0 !important;
}

.navbar-brand > .brand {
    background-color: transparent;
    transition: all 300ms ease-in-out;
}

.navbar-brand > .brand:hover {
    background-color: transparent !important;
    transform: scale(0.95);
}

.navbar-dark .navbar-brand img {
    height: 16px;
    margin-right: 5px;
}

.navbar-dark .navbar-link > img {
    max-width: 30px;
}

.navbar-dark .navbar-menu .navbar-item {
    transition: background-color .25s ease-in-out;
    font-weight: 700;
    color: #ecf0f1;
}

.navbar-dark .navbar-dropdown .navbar-item {
    color: black !important;
}

.navbar-secondary {
}

.navbar-secondary .navbar-menu .navbar-item {
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .navbar-secondary a.navbar-item {
        transition: background-color .25s ease-in-out;
    }
    .navbar-secondary a.navbar-item.is-active {
        border-bottom: 3px solid #47E0A0;
        border-top: 3px solid #f2f2f2;
    }
}

@media screen and (max-width: 1023px) {
    .navbar-dark .navbar-menu {
        /* background-color: white; */
        background-color: black;
        z-index: 10000;
    }

    .navbar-dark .container {
        z-index: 10000;
        height: 60px;
        padding-top: 5px;
    }

    .navbar-brand {}

    .navbar-dark .navbar-end {
        margin-top: 20px;
    }

    .navbar-dark .navbar-menu .navbar-item.is-active {
        color: black !important;
    }

    .navbar-dark .navbar-menu .navbar-item:hover {
        color: black !important;
    }

    .navbar-dark .container .navbar-burger {
        background-color: transparent;
        color: white;
        border: 0;
    }

    .navbar-dark .navbar-dropdown .navbar-item {
        color: white !important;
    }
}

.brand-underline {
    
}