body {
	-webkit-backface-visibility: hidden;
}

#navbar {
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	height: 80px;
	color: white;
	background-color: transparent;
}

#navbar .container {
	height: 80px;
}

#navbar button {
	height: 80px;
	background: transparent;
	color: white;
	border: none;
}

.navbar-dark {
	background-color: #363636 !important;
}

#navbar .navbar-title {
	font-weight: 900;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#navbar .navbar-item {
	text-transform: lowercase;
	font-weight: 600;
}

#navbar .active {
	text-decoration: underline;
	font-weight: 900;
}

#image-showcase {
	background-color: black;
	background-size: cover;
	transition: background 1s linear;
	will-change: background;
}

.tint {
	background: rgba(0, 0, 0, 0.7);
}

.img-circle {
	border-radius: 50%;
}

.btn.btn-circle {
	color: #ff0561 !important;
	background-color: white;
	display: inline-block;
	padding: 20px;
	border-radius: 50px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
	text-decoration: none;
}

.btn.btn-circle:hover {
	animation: pulse 1s;
}

#footer {
	color: gray;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
}

#footer #footer-light {
	color: lightgray;
}

#footer img {
	width: 50px;
}

.awards-carousel img {
	height: 50px;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.awards-carousel img.smaller {
	height: 50px;
	padding: 10px;
}

.awards-carousel img:hover {
	-webkit-filter: grayscale(0);
	filter: none;
}

#contact-modal .modal-content {
	width: 760px;
	height: 760px;
}

#contact-modal .modal-content iframe {
	width: 760px;
	height: 760px;
}