.brand-badge {
    position: fixed;
    right: 0;
    bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

.brand-badge .tag {
    padding: 8px;
    border-top-left: 1px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: gray !important;
}

.brand-badge .tag img {
    border-radius: 50%;
}

.brand-badge .tag a {
    color: gray !important;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.brand-badge li {
    padding: 5px;
    background: white;
}

.brand-badge li.brand-heading {
    background-color: whitesmoke;
}

.brand-badge li a {
    color: #363636
}