.ProductsTab {

}

.ProductsHome {
    margin-top: 30px;
}

.CreateIconCard {
    background-color: #DBDBDB !important;
    border: 1px solid #DBDBDB !important;
    text-align: center;
    cursor: pointer;
    font-size: 2em;
}